<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ProjetoFornecedor</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>FornecedorServlet</display-name>
		<servlet-name>FornecedorServlet</servlet-name>
		<servlet-class>com.projeto.fornecedor.servlet.FornecedorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FornecedorServlet</servlet-name>
		<url-pattern>/FornecedorServlet</url-pattern>
		<url-pattern>/addFornecedor.do</url-pattern>
		<url-pattern>/listFornecedor.do</url-pattern>
		<url-pattern>/createFornecedor.do</url-pattern>
		<url-pattern>/retrieveFornecedor.do</url-pattern>
		<url-pattern>/updateFornecedor.do</url-pattern>
		<url-pattern>/deleteFornecedor.do</url-pattern>

	</servlet-mapping>
</web-app>